*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.menue{
    position:absolute;
    z-index: 2;
    left:2%;
    margin-top:2%;
    border:white 4px solid;
    border-radius:3px;
    text-align: center;

}

.button{

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    padding:5px;
    border-radius:3px

}

.button:hover{
    background-color: white;
    color:black
}